h1 {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
body{
  font-family: Arial, Helvetica, sans-serif;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    /* position: -webkit-sticky; Safari */
    /* position: sticky; */
    top: 0;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #3171c5;
  }

  img .front{
    background-size: 100% 100%;
  }

  .banner{
    position: relative;
  }

  .welcome{
    background-color: #3171c5;
    color: white;
    padding: 0px;
    position: absolute;
    left: 10px;
    top: 30%;   
}

  span{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
 
  }

  span.options {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
 
  }

  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    object-fit:cover
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  .responsive {
    /* padding: 0 1.5px; */
    float: left;
    width: 33.3333%;
  }
  div.expSeg{
  /* border: 1px solid black; */
  /* background-color: lightblue; */
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 8px;
  margin-top: 0px;
  } 
  
  div.expSegCpt{
    /* border: 1px solid black; */
    /* background-color: lightblue; */
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 160px;
    padding-left: 8px;
    margin-top: 0px;
  } 
  
  div.expSegMpm{
    /* border: 1px solid black; */
    /* background-color: lightblue; */
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 170px;
    padding-left: 8px;
    margin-top: 0px;
  } 
  p.expPar{
    margin-top: 5px; 
    margin-bottom: 1px; 
  }
  
  
  @media only screen and (max-width: 700px) {
    .responsive {
        width: 100%;
    }
  }

.gap{
    color: white;
}

p.footer{
    text-align: center;
}

img.imgExp {
  margin-right:15px;
  float: left;
}

img.teamImg{
  width: 50%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 360px;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #3171c5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
    background-color: #3171c5;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


footer{
  text-align: center;
}


